nav {
  background-color: rgb(228, 255, 226);
  min-height: 5vh;
  ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    li {
      padding: 0.5rem 1rem;
      a {
        font-size: 1.25rem;
      }
    }
  }
}
